.moneda {
    width: 200px;
    --user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@keyframes desvanecer {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        top: 10%;
    }
}

@keyframes din {
    from {
        opacity: 1;
    }
    to {
        top: 10%;
    }
}

.dollar {
    --user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}